<p id="notice"><%= notice %></p>
<h3 class="text-center ">Listing all Students</h3>

<div class="f flickr_pagination">
<%= will_paginate @students, :container => false %>

</div>
<%= render 'student'%>

