<p id="notice"><%= notice %></p>
<h3 class="text-center ">Listing all teachers</h3>

<div class="f flickr_pagination">
<%= will_paginate @teachers, :container => false %>

</div>



<%= render 'teacher' %>